@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <img src="~/Content/images/featured item pics/featuredmainimage.PNG" />
        </div>
        <div class="col-md-3" id="featureditemHighlights">
            <h2><strong>Dash</strong></h2>
            <ul>
                <li>10.5hp Briggs & Stratton Engine</li>
                <li>34” & 42” decks</li>
                <li>2-year / no hour limit limited warranty</li>
            </ul>
            <br />
            <br />
            <h3><strong>Starting at $2295.99</strong></h3>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 box">
            <div class="inner">
                <img src="~/Content/images/featured item pics/5e28cb6fb5b71db02e0df0a4_Dash_gate-p-500.jpeg" alt="Alternate Text" />
                <h2>Easy Gate Access</h2>
                <figcaption>Easily fits thru most gates making backyard mowing easy.</figcaption>
            </div>
        </div>
        <div class="col-md-4 box">
            <div class="inner">
                <img src="~/Content/images/featured item pics/5e28cb22c6aa78d9af49f78f_Dash_compact-p-500.jpeg" alt="Alternate Text" />
                <h2>Easy Gate Access</h2>
                <figcaption>Easily fits thru most gates making backyard mowing easy.</figcaption>
            </div>
        </div>
        <div class="col-md-4 box">
            <div class="inner">
                <img src="~/Content/images/featured item pics/5e28ca70567d11198d8d3a33_Dash_deckadjust-p-500.jpeg" alt="Alternate Text" />
                <h2>Compact Size</h2>
                <figcaption>Ideal for garage storage.</figcaption>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4 box featuredItem">
            <div class="inner">
                <img src="~/Content/images/featured item pics/5e28ca25fce3cb48bb31be98_Dash_brake-p-500.jpeg" alt="Alternate Text" />
                <h2>Automatic Park Break</h2>
                <figcaption>Auto engages when steering levers are open.</figcaption>
            </div>
        </div>
        <div class="col-md-4 box featuredItem">
            <div class="inner">
                <img src="~/Content/images/featured item pics/5e28c9ee606f4f088e499e66_Dash_frame.jpg" alt="Alternate Text" />
                <h2>Fully Welded Tubular Frame</h2>
                <figcaption>Heavy-duty welded 1 x 2 fully tubular frame for unmatched durability.</figcaption>

            </div>
        </div>
        <div class="col-md-4 box featuredItem">
            <div class="inner">
                <img src="~/Content/images/featured item pics/5e276b1dfa0221cf0a139a58_DashDeck-p-500.jpeg" alt="Alternate Text" />
                <h2>Welded Steel Deck</h2>
                <figcaption>Heavy-duty design for unmatched durability. Up to 42" deck size available.</figcaption>

            </div>
        </div>
    </div>
</div>